*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  max-width: 1100px;
  margin-inline: auto;
  justify-content: space-between;
  padding: 10px 20px;
}

.menu {
  display: flex;
  list-style: none;
  padding: 0;
}

#hero {
  background-image: url(../img/main_pc.jpg);
  aspect-ratio: 2/1;
}