*,
::before,
::after {
  box-sizing: border-box; /* 要素の幅や高さの基準を境界線基準にする */
  margin: 0; /* 境界線より外側の余白を0に */
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

header {
  display: flex; /* 子要素を横並びにする */
  max-width: 1100px; /* 箱の最大はばを1100pxに */
  margin-inline: auto; /* 箱の両サイドの余白を取れる限り最大にとる。->結果、箱が真ん中による */
  justify-content: space-between; /* 横並びにした子要素の最初と最後のを両端にもっていき、残りは均等に並べる */
  padding: 10px 20px; /* 箱の内側に余白を上下10px, 左右20px */
}

.logo {
  font-size: 20px; /* 文字のサイズを20px */
  font-weight: bold; /* 文字を太字 */
}

.menu {
  display: flex; /* 子要素を横並びにする */
  gap: 30px; /* flexで横並びにした要素同士の間をあける */
  list-style: none; /* リストの黒丸を消す */
  padding: 0; /* 箱の内側の余白を0 */
}

.menu a {
  color: inherit; /* 文字の色を親要素と同じに */
  text-decoration: none; /* リンクの下線を消す */
  font-weight: bold; /* 文字を太字にする */
}

#hero {
  background-image: url(../img/main_pc.jpg); /* 背景に画像 */
  background-size: cover; /* 背景画像のサイズを箱全体をおおうようにいれる */
  aspect-ratio: 2/1; /* 箱の縦横の比率を2:1に */
  position: relative; /* 子要素をabsoluteで動かすときの基準になる */
}

#hero > div {
  color: #fff; /* 文字色を白 */
  position: absolute; /* 位置を動かす準備 */
  top: 50%; /* heroの箱の上から半分 */
  left: 50%; /* heroの箱の左から半分 */
  transform: translate(-50%, -50%); /* 要素の位置をdiv基準で左に半分、上に半分ずらす */
  background-color: rgba(0, 0, 0, 0.8); /* 背景の色を黒の半透明 */
  text-align: center; /* 箱の中の文字を中央にそろえる */
  padding: 20px; /* 箱の内側に余白 */
  border-radius: 15px; /* 角丸に */
}

.title {
  font-size: 25px; /* 文字のサイズ25pxに */
  text-align: center; /* 箱の中の文字を真ん中に */
  margin-bottom: 20px; /* 箱の外側、下の方向に20px すきま */
}

.about_box {
  display: flex; /* 箱の中の子要素を横並びにする */
  max-width: 750px; /* 箱の最大はばを750pxにする */
  margin-inline: auto; /* じつは、margin-left と margin-right が auto */
}