*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
}

header {
  display: flex;
  max-width: 1100px;
  margin-inline: auto;
  justify-content: space-between;
  padding: 10px 20px;
}

.logo {
  font-size: 20px;
  font-weight: bold;
}

.menu {
  display: flex;
  gap: 30px; /* flexで横並びにした要素同士の間をあける */
  list-style: none;
  padding: 0;
}

.menu a {
  color: inherit; /* 文字の色を親要素と同じに */
  text-decoration: none; /* リンクの下線を消す */
  font-weight: bold; /* 文字を太字にする */
}

#hero {
  background-image: url(../img/main_pc.jpg);
  aspect-ratio: 2/1;
}